$mi-orange: #FF6829;
$shadow-color: #CCC;
$dark-dark-grey: #A2A2A2;
$text-origin-grey: #444;
$site-content-width: 1240px;
$shadow-grey: #E4E4E4;
$background-grey: #F5F5F5;

.hover-shadow:hover {
  box-shadow: 5px 5px 10px #CCC;
  transform: translateY(-2px);
}

.hover-shadow {
  transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}
